<!-- wp:group {"tagName":"header","className":"site-header-block","layout":{"type":"constrained"}} -->
<header class="wp-block-group site-header-block">
	<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between","flexWrap":"nowrap"}} -->
	<div class="wp-block-group">
		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group">
			<!-- wp:site-logo {"width":120,"className":"site-logo"} /-->
			<!-- wp:site-title {"level":1} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
		<div class="wp-block-group">
			<!-- wp:navigation {"overlayMenu":"mobile","label":"Menu"} /-->
			<!-- wp:search {"label":"Search","buttonText":"Search","buttonPosition":"button-only","className":"header-search"} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->
</header>
<!-- /wp:group -->
